extends layout

block content
  h1= title
  
  div.container-fluid
    div.row
        each insect in results
            div.col-sm-2
                p Name: #{insect.name}
                p Size: #{insect.size} 
                p Life Span: #{insect.lifespan} weeks


  
